*{
    margin: 0;
    padding:0;
    text-decoration:none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline:none;
    border:none;
}

h2{
    font-size: 2rem;
}
h3{

}
.section-p{
   padding:60px 8%;
}

img{
    object-fit: cover;
}
button{outline: none;
    border: none;
    background:rgb(82, 9, 9);
    font-size: 16px;
    color:white;
    padding:0.8rem 2rem;
    cursor:pointer;
    word-spacing:3px;
    letter-spacing: 1px;
    border-radius:10rem;
    margin-top:5px;
}
button:hover{
    color:rgb(82, 9, 9); 
    background-color:white;
    font-weight:600;
    /* border: 1px solid rgba(82,9,9); */
}


@media screen and (max-width:769px){
    .section-p{
        padding:60px 5%;
     }
}